<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Планировщик задач для тех, у кого скоро свадьба. Создавайте список важных дел, ведите свадебный бюджет. Все для планировки свадьбы в одном месте!"
  />
  <meta name="google-site-verification" content="s42F8nwQbVY8ONAduIbyhIgbXUT4CbYbncCED5-gOJ0" />
  <title>Wedlist — запланируй бюджет свадьбы и следи за его выполнением</title>
  <%= require('./src/components/appPrerenderer.jsx').styleTags %>
</head>

<body>
  <div id="reactApp">
    <%= require('./src/components/appPrerenderer.jsx').prerendered %>
  </div>
</body>

</html>
